<%= render "partials/head" %>

<body>

<div id="page">
	<div id="page-bgtop">
						<div >
				<ul>
						<%= render "partials/categories" %>
				</ul>
			</div>
		<div id="content">
			<%= yield %>	
		</div>	
	</div>
</div>
</body>
</html>
