<%= render "partials/head" %>
<body>

<div id="page">
	<div id="page-bgtop">
		<div id="content">
			<%= yield %>	
			</div>
		</div>	
	</div>
</div>
			<div id="sidebur">
				<ul>
						<%= render "partials/categories" %>
				</ul>
</body>
</html>
